@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard - Welcome @User.Identity.Name</h2>
@*<img height="200" width="300" style="margin-left:-48px" src="~/Content/template/images/Royal Dispatch Logo.png" />*@
